body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    text-align: center;
}

#header {
    background: #6943FF;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    margin-top: 33px;
}

button {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    background-color: white; 
    border: 0px solid white;
    border-radius: 5px;
    height: 42px;
    width: 122px;
    padding: 9px 27px;
    margin: 25px 0px 34px 0px;
    
}

input{
    border: 2px solid #B295FF;
    background-color:#6943FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    font-family: 'Inter', sans-serif;
    font-size: 58px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: #5A537B;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

#background{
    background: #F4F4F4;
    padding: 35px 25px;
}

.card{
    background-color: white; 
    padding: 31px 77px;
    margin-bottom: 24px;
}
